body{
    background-color: aquamarine;
    background-image: url(maxresdefault.jpg);
    color: azure;
}

h1{
 font-display: white; 
 color: white;
 position: relative;
 margin-bottom: 350px;
 margin-right: 20px;
 width: 100;
}

h2{
    margin-left: 20px;
}

h3{
    margin-left: 20px;
    font-size: 150%;
}

title{
 color: blue;
 margin: 10 20 30 40;
}

