body{
    background-color: aquamarine;
    background-image: url(Imagenes/maxresdefault.jpg);
    color: azure;
}


.cs1{
    margin-left: 20px;
    margin-top: 360px;
    position: absolute;
    font-size: 35px;
    color: wheat;
}

.pers{
    margin-left: 20px;
    font-size: 15px;
    top: 34px;
    position: absolute;
    color: wheat;
}

title{
 color: blue;
 margin: 10 20 30 40; 
}

.adq{
    margin: 460px 20px 20px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: wheat;
}

.adkk{
    margin: 460px 25px 25px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: wheat;
}


.two h1 {
  text-transform: capitalize;
  margin-left: 20px;
}
.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: white;
}

.two h1 span {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: wheat;
  padding-bottom: 10px;
}
.alt-two h1 {
  text-align:center;
}
.alt-two h1:before {
  left:50%; margin-left:-30px;
}

.parrafo1{
  position: absolute;
  font-size: 17px;
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 21px;
  color: wheat;
}

.img-secun {
  margin-left: 21px;
   width: 30%;
}